aside.main-sidebar
    section.sidebar
        ul.sidebar-menu
            li.header
                |Toko Snack 
            li.treeview
                a(href='/stok/stoksnack')
                    i.fa.fa-file
                    span
                        | Stok Snack
            li
                a(href='/customers')
                    i.fa.fa-th
                    span
                        | Member